In [1]:
import time
start_time = time.time()

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn
import re

In [3]:
#Read the file and set the appropriate headers
df = pd.read_csv("test_data_solution.txt",sep=" ::: ",engine="python",header=None)
df.columns = ["ID", "Title_Year", "Genre", "Description"]
df.head()

,ID,Title_Year,Genre,Description
0,1,Edgar's Lunch (1998),thriller,"L.R. Brane loves his life - his car, his apart..."
1,2,La guerra de papá (1977),comedy,"Spain, March 1964: Quico is a very naughty chi..."
2,3,Off the Beaten Track (2010),documentary,One year in the life of Albin and his family o...
3,4,Meu Amigo Hindu (2015),drama,"His father has died, he hasn't spoken with his..."
4,5,Er nu zhai (1955),drama,Before he was known internationally as a marti...

In [4]:
#Removed Title_year because we can't predict genre by a movie name and so it's not relevant
df.drop(columns='Title_Year',axis=1,inplace=True)
df

          ID        Genre                                        Description
0          1     thriller  L.R. Brane loves his life - his car, his apart...
1          2       comedy  Spain, March 1964: Quico is a very naughty chi...
2          3  documentary  One year in the life of Albin and his family o...
3          4        drama  His father has died, he hasn't spoken with his...
4          5        drama  Before he was known internationally as a marti...
...      ...          ...                                                ...
54195  54196       horror  Covering multiple genres, Tales of Light & Dar...
54196  54197      western  As Alice and Cora Munro attempt to find their ...
54197  54198        adult  A movie 169 years in the making. Oliver Twist,...
54198  54199        drama  Popular, but mysterious rock D.J Mike Mallard ...
54199  54200        drama  Curitiba is a city in movement, with rhythms a...

[54200 rows x 3 columns]

In [5]:
#cleaning text before vectorizing
def clean_text(text):
    text = re.sub(r"[^\w\s]", "", text)  # Remove punctuation
    text = re.sub(r"\d+", "", text)      # Remove numbers
    return text.lower()

df["Description_clean"] = df["Description"].apply(lambda x: clean_text(str(x)))

In [6]:
def custom_tokenizer(text):
    text = re.sub(r"[^\w\s\d+]", "", text)  # Remove punctuation
    return text.lower().split()
#To get important word features based on tf-idf score
from sklearn.feature_extraction.text import TfidfVectorizer
descriptions = df["Description"].fillna("")
vectorizer = TfidfVectorizer(tokenizer=custom_tokenizer,max_features=750,       
    stop_words='english',    
    ngram_range=(1, 2))
X_tfidf  = vectorizer.fit_transform(descriptions)
feature_names=vectorizer.get_feature_names_out()
print(feature_names)
print(X_tfidf.toarray())

C:\Users\jojan\anaconda3\Lib\site-packages\sklearn\feature_extraction\text.py:521: UserWarning: The parameter 'token_pattern' will not be used since 'tokenizer' is not None'
  warnings.warn(

['2' '3' 'abandoned' 'able' 'accident' 'act' 'action' 'actor' 'actors'
 'actress' 'actually' 'adventure' 'affair' 'africa' 'african' 'age'
 'agent' 'ago' 'air' 'alive' 'america' 'american' 'ancient' 'angeles'
 'answer' 'answers' 'apart' 'apartment' 'appears' 'area' 'army' 'arrives'
 'art' 'artist' 'artists' 'asks' 'attack' 'attempt' 'attempts' 'attention'
 'audience' 'away' 'baby' 'bad' 'band' 'bank' 'based' 'battle' 'beautiful'
 'beauty' 'begin' 'beginning' 'begins' 'believe' 'believes' 'best'
 'best friend' 'better' 'big' 'biggest' 'birth' 'black' 'blood' 'bob'
 'body' 'book' 'born' 'boss' 'boy' 'boyfriend' 'boys' 'break' 'breaks'
 'bring' 'brings' 'british' 'broken' 'brother' 'brothers' 'brought'
 'building' 'business' 'california' 'called' 'came' 'camera' 'camp' 'car'
 'care' 'career' 'case' 'cast' 'caught' 'center' 'century' 'challenge'
 'challenges' 'chance' 'change' 'changed' 'changes' 'character'
 'characters' 'child' 'childhood' 'children' 'choice' 'christmas' 'church'
 'city' 'class' 'classic' 'close' 'club' 'college' 'come' 'comedy' 'comes'
 'coming' 'common' 'community' 'company' 'complete' 'conflict'
 'contemporary' 'continue' 'control' 'country' 'couple' 'course' 'create'
 'created' 'crew' 'crime' 'criminal' 'crisis' 'cultural' 'culture'
 'current' 'daily' 'dance' 'dangerous' 'dark' 'daughter' 'david' 'day'
 'days' 'dead' 'deal' 'death' 'decide' 'decides' 'decision' 'deep'
 'desire' 'desperate' 'despite' 'detective' 'determined' 'did' 'die'
 'died' 'dies' 'different' 'difficult' 'director' 'discover' 'discovers'
 'doctor' 'documentary' 'does' 'doesnt' 'doing' 'dont' 'dr' 'drama'
 'dream' 'dreams' 'drug' 'drugs' 'early' 'earth' 'east' 'emotional'
 'encounter' 'end' 'ends' 'entire' 'episode' 'escape' 'especially'
 'europe' 'event' 'events' 'eventually' 'everyday' 'evil' 'experience'
 'experiences' 'explore' 'explores' 'extraordinary' 'eyes' 'face' 'faces'
 'fact' 'faith' 'fall' 'falls' 'falls love' 'families' 'family' 'famous'
 'fans' 'far' 'farm' 'fate' 'father' 'fathers' 'fear' 'feature' 'features'
 'featuring' 'feel' 'feelings' 'feels' 'female' 'festival' 'fight'
 'fighting' 'film' 'filmed' 'filmmaker' 'films' 'final' 'finally'
 'finding' 'finds' 'follow' 'following' 'follows' 'food' 'footage' 'force'
 'forced' 'forces' 'forever' 'form' 'frank' 'free' 'freedom' 'french'
 'friend' 'friends' 'friendship' 'fun' 'future' 'game' 'gang' 'gay'
 'general' 'generation' 'george' 'german' 'gets' 'getting' 'girl'
 'girlfriend' 'girls' 'given' 'gives' 'god' 'goes' 'going' 'gold' 'gone'
 'good' 'got' 'government' 'great' 'greatest' 'group' 'growing' 'guy'
 'half' 'hand' 'hands' 'happened' 'happens' 'happy' 'hard' 'having' 'head'
 'health' 'heart' 'hell' 'help' 'hero' 'hes' 'hidden' 'high' 'high school'
 'history' 'hit' 'hollywood' 'home' 'hope' 'hopes' 'horror' 'hospital'
 'host' 'hot' 'hotel' 'hours' 'house' 'human' 'husband' 'idea' 'identity'
 'images' 'important' 'includes' 'including' 'india' 'indian' 'industry'
 'inside' 'inspired' 'instead' 'international' 'interviews' 'intimate'
 'involved' 'island' 'isnt' 'issues' 'jack' 'james' 'jim' 'job' 'joe'
 'john' 'join' 'journey' 'just' 'justice' 'kids' 'kill' 'killed' 'killer'
 'killing' 'kind' 'king' 'know' 'known' 'knows' 'la' 'lady' 'land' 'large'
 'late' 'later' 'law' 'lead' 'leader' 'leading' 'leads' 'learn' 'learns'
 'leave' 'leaves' 'leaving' 'led' 'left' 'let' 'lies' 'life' 'light'
 'like' 'line' 'little' 'live' 'lived' 'lives' 'living' 'local' 'london'
 'long' 'look' 'looking' 'looks' 'los' 'los angeles' 'loses' 'loss' 'lost'
 'lot' 'love' 'lover' 'loves' 'main' 'major' 'make' 'makes' 'making'
 'male' 'man' 'mark' 'marriage' 'married' 'marry' 'mary' 'means' 'media'
 'medical' 'meet' 'meeting' 'meets' 'member' 'members' 'memories' 'memory'
 'men' 'met' 'michael' 'middle' 'military' 'million' 'mind' 'missing'
 'mission' 'modern' 'moment' 'money' 'months' 'morning' 'mother' 'mothers'
 'movement' 'moves' 'movie' 'movies' 'moving' 'mr' 'murder' 'murdered'
 'music' 'musical' 'mysterious' 'mystery' 'named' 'national' 'nature'
 'near' 'need' 'needs' 'neighborhood' 'new' 'new york' 'news' 'night'
 'north' 'number' 'offers' 'office' 'officer' 'old' 'older' 'ones' 'open'
 'opportunity' 'order' 'original' 'outside' 'owner' 'parents' 'paris'
 'park' 'partner' 'party' 'passion' 'past' 'path' 'paul' 'pay' 'peace'
 'people' 'perfect' 'performance' 'period' 'person' 'personal' 'peter'
 'picture' 'place' 'places' 'plan' 'plans' 'play' 'played' 'playing'
 'plays' 'plot' 'point' 'police' 'political' 'poor' 'popular' 'portrait'
 'possible' 'power' 'powerful' 'pregnant' 'present' 'president' 'prison'
 'private' 'problem' 'problems' 'process' 'produced' 'production'
 'professional' 'professor' 'program' 'project' 'protect' 'public' 'quest'
 'question' 'questions' 'quickly' 'qv' 'race' 'ready' 'real' 'reality'
 'realize' 'realizes' 'really' 'red' 'refuses' 'relationship'
 'relationships' 'religious' 'rest' 'result' 'return' 'returns' 'reveal'
 'reveals' 'revenge' 'rich' 'ride' 'right' 'rights' 'river' 'road'
 'robert' 'rock' 'role' 'room' 'run' 'running' 'runs' 'sam' 'save' 'scene'
 'scenes' 'school' 'sea' 'search' 'second' 'secret' 'secrets' 'seeks'
 'seen' 'sees' 'sense' 'sent' 'series' 'service' 'set' 'sets' 'seven'
 'sex' 'sexual' 'share' 'shes' 'short' 'shot' 'shows' 'simple' 'singer'
 'single' 'sister' 'sisters' 'situation' 'small' 'small town' 'social'
 'society' 'soldiers' 'son' 'soon' 'soul' 'south' 'space' 'special'
 'spend' 'spirit' 'stage' 'stand' 'star' 'stars' 'start' 'started'
 'starts' 'state' 'states' 'station' 'stay' 'steve' 'stop' 'stories'
 'story' 'strange' 'street' 'streets' 'strong' 'struggle' 'struggles'
 'struggling' 'student' 'students' 'style' 'success' 'successful'
 'suddenly' 'suicide' 'summer' 'support' 'survival' 'survive' 'taken'
 'takes' 'taking' 'tale' 'talk' 'teacher' 'team' 'teenage' 'television'
 'tell' 'tells' 'tells story' 'thats' 'theres' 'theyre' 'thing' 'things'
 'think' 'thinks' 'thought' 'thousands' 'time' 'times' 'today' 'told'
 'tom' 'took' 'tour' 'town' 'tragic' 'train' 'travel' 'travels' 'tries'
 'trip' 'trouble' 'true' 'truth' 'try' 'trying' 'turn' 'turned' 'turns'
 'tv' 'ultimately' 'unable' 'uncle' 'understand' 'unexpected' 'unique'
 'united' 'united states' 'university' 'unknown' 'use' 'used' 'uses'
 'using' 'various' 'victim' 'victims' 'video' 'view' 'viewers' 'village'
 'violence' 'visit' 'voice' 'want' 'wants' 'war' 'watch' 'water' 'way'
 'ways' 'wealthy' 'wedding' 'week' 'went' 'west' 'white' 'whos' 'wife'
 'wild' 'win' 'woman' 'women' 'work' 'working' 'works' 'world' 'world war'
 'worlds' 'writer' 'wrong' 'year' 'year old' 'years' 'years ago'
 'years later' 'york' 'young' 'young man' 'young woman' 'younger' 'youth']
[[0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 ...
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]]

In [7]:
# Convert sparse matrix to DataFrame
tfidf_df = pd.DataFrame(X_tfidf.toarray(), columns=feature_names)
tfidf_df["Genre"] = df["Genre"].values

tfidf_df

,2,3,abandoned,able,accident,act,action,actor,actors,actress,...,years,years ago,years later,york,young,young man,young woman,younger,youth,Genre
0,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,thriller
1,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.233346,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,comedy
2,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,documentary
3,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.115811,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,drama
4,0.000000,0.000000,0.0,0.0,0.184279,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,drama
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54195,0.129836,0.130829,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.074581,0.0,0.0,0.0,0.143175,0.0,0.125709,0.0,0.0,horror
54196,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,western
54197,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.203199,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,adult
54198,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.159184,0.0,0.000000,0.0,0.0,drama
54199,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,drama

In [8]:
#using top k method to retrieve k most important words locally across a genre
top_k_per_genre = {}

for genre in tfidf_df["Genre"].unique():
    genre_subset = tfidf_df[tfidf_df["Genre"] == genre].drop(columns=["Genre"])
    mean_scores = genre_subset.mean(axis=0)
    top_k = mean_scores.sort_values(ascending=False).head(50)
    top_k_per_genre[genre] = top_k.index.tolist()

In [9]:
top_k_per_genre.keys()

dict_keys(['thriller', 'comedy', 'documentary', 'drama', 'horror', 'short', 'western', 'family', 'sport', 'romance', 'war', 'game-show', 'biography', 'adult', 'talk-show', 'action', 'music', 'crime', 'animation', 'sci-fi', 'adventure', 'reality-tv', 'fantasy', 'mystery', 'history', 'news', 'musical'])

In [10]:
# Flatten all top-K terms into a single set
custom_vocab = set()
for terms in top_k_per_genre.values():
    custom_vocab.update(terms)

# Re-vectorize using only these terms
vectorizer = TfidfVectorizer(vocabulary=list(custom_vocab))
X_filtered = vectorizer.fit_transform(df["Description"])

In [11]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X_filtered, df["Genre"], test_size=0.2, random_state=42)

In [12]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report,accuracy_score

model = LogisticRegression(max_iter=1000, class_weight='balanced')
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
print(accuracy_score(y_test,y_pred))

0.27518450184501847

In [13]:
end_time = time.time()
total_time = end_time - start_time
print(f"Notebook executed in {total_time:.2f} seconds")

Notebook executed in 27.90 seconds